@charset "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);
/* 汎用
****************************************************/
body {
  font-family: "Hiragino Kaku Gothic ProN","メイリオ", sans-serif;
  position: relative;
  color: #333;
  box-sizing: border-box;
}

a {
  color: #333;
  text-decoration: none;
  display: inline-block;
}

a img {
  border-style: none;
}

#wrapper {
  width: 100%;
  background: #fed3dd;
}

.moreBtn {
  text-align: center;
}

.moreBtn button {
  cursor: pointer;
}

.linkBtn {
  text-align: center;
}

.linkBtn a {
  width: 450px;
  position: relative;
  display: inline-block;
  padding: 25px 0;
  background: -webkit-linear-gradient(#fe5f95, #ff3f7f);
  background: linear-gradient(#fe5f95, #ff3f7f);
  border: 1px solid #fe3276;
  border-radius: 4px;
  color: #fff;
  text-align: center;
}

.linkBtn a:after {
  position: absolute;
  top: 3px;
  right: 3px;
  bottom: 3px;
  left: 3px;
  content: '';
  border: 2px dashed #fff;
  border-radius: 4px;
}

/* ヘッダー
****************************************************/
#header {
  width: 100%;
  height: 80px;
  background: #fff;
  border-top: 3px solid #fc7dc4;
  box-shadow: 0px 4px 3px -3px rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
}

.headerContainer {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.headerContainer .headerID {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.headerContainer .headerID h1 {
  font-family: 'Noto Sans JP';
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
}

.headerContainer .headerID h1 a {
  color: #4f2702;
}

.headerContainer .headerID p {
  font-size: 12px;
  color: #cfcfcf;
}

.headerContainer .headerMenu {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: right;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.headerContainer .headerMenu ul {
  font-size: 0;
}

.headerContainer .headerMenu li {
  font-size: 16px;
  display: inline-block;
  border-left: 1px dotted #cfcfcf;
}

.headerContainer .headerMenu li:first-child {
  border-bottom: 3px solid #ff7f7f;
}

.headerContainer .headerMenu li:nth-child(2) {
  border-bottom: 3px solid #7f7fff;
}

.headerContainer .headerMenu li:nth-child(3) {
  border-bottom: 3px solid #bf7fff;
}

.headerContainer .headerMenu li:nth-child(4) {
  border-bottom: 3px solid #7fbfff;
}

.headerContainer .headerMenu li:last-child {
  border-right: 1px dotted #cfcfcf;
  border-bottom: 3px solid #ffbf7f;
}

.headerContainer .headerMenu li a {
  display: block;
  padding: 10px 20px;
}

/* 大コンテンツ
****************************************************/
#content {
  width: 1160px;
  margin: 80px auto 0;
  padding: 20px;
  background: #fff;
  overflow: hidden;
}

/* メインコンテンツ
****************************************************/
/* 汎用 */
#main {
  width: 860px;
  float: left;
  margin-right: 20px;
}

h2 {
  color: #411C00;
  font-size: 18px;
  font-weight: bold;
  position: relative;
  border: 2px solid #ba9b89;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 4px;
  background: -webkit-linear-gradient(#fff, #F4EDE6);
  background: linear-gradient(#fff, #F4EDE6);
}

h2:before {
  content: '';
  border-left: 5px solid #824921;
  margin-right: 10px;
}

.searchArea {
  width: 860px;
  height: 100px;
}

section:not(.slider) {
  margin-bottom: 30px;
  /* TOPページ */
  /* アニメ一覧ページ */
  /* キャラクター一覧ページ */
  /* アニメ詳細ページ */
  /* キャラクター詳細ページ */
}

section:not(.slider) .newAnimeList ul {
  display: block;
  overflow: hidden;
  margin-bottom: 20px;
}

section:not(.slider) .newAnimeList li {
  font-size: 14px;
  width: 286.66667px;
  text-align: center;
  float: left;
}

section:not(.slider) .newAnimeList li img {
  padding: 2px;
  border: 1px solid #dcdcdc;
  margin-bottom: 5px;
}

section:not(.slider) .newCharaList ul, section:not(.slider).checkedChara ul {
  display: block;
  overflow: hidden;
  margin-bottom: 20px;
}

section:not(.slider) .newCharaList li, section:not(.slider).checkedChara li {
  font-size: 14px;
  width: 172px;
  text-align: center;
  float: left;
}

section:not(.slider) .newCharaList li img, section:not(.slider).checkedChara li img {
  padding: 2px;
  border: 1px solid #dcdcdc;
  margin-bottom: 5px;
}

section:not(.slider).animeListArea ul {
  display: block;
  overflow: hidden;
  margin-bottom: 20px;
}

section:not(.slider).animeListArea li {
  font-size: 14px;
  width: 215px;
  text-align: center;
  float: left;
}

section:not(.slider).animeListArea li img {
  padding: 2px;
  border: 1px solid #dcdcdc;
  margin-bottom: 5px;
}

section:not(.slider).animeListArea li {
  font-size: 12px;
  margin-bottom: 20px;
  white-space: nowrap;
}

section:not(.slider).animeListArea li img {
  width: 200px;
  height: auto;
}

section:not(.slider).charaListArea ul {
  display: block;
  overflow: hidden;
  margin-bottom: 20px;
}

section:not(.slider).charaListArea li {
  font-size: 14px;
  width: 172px;
  text-align: center;
  float: left;
}

section:not(.slider).charaListArea li img {
  padding: 2px;
  border: 1px solid #dcdcdc;
  margin-bottom: 5px;
}

section:not(.slider).charaListArea li {
  font-size: 12px;
  margin-bottom: 20px;
  white-space: nowrap;
}

section:not(.slider).animeCharaArea ul {
  display: block;
  overflow: hidden;
  margin-bottom: 20px;
}

section:not(.slider).animeCharaArea li {
  font-size: 14px;
  width: 172px;
  text-align: center;
  float: left;
}

section:not(.slider).animeCharaArea li img {
  padding: 2px;
  border: 1px solid #dcdcdc;
  margin-bottom: 5px;
}

section:not(.slider).animeSimilarArea ul {
  display: block;
  overflow: hidden;
  margin-bottom: 20px;
}

section:not(.slider).animeSimilarArea li {
  font-size: 14px;
  width: 286.66667px;
  text-align: center;
  float: left;
}

section:not(.slider).animeSimilarArea li img {
  padding: 2px;
  border: 1px solid #dcdcdc;
  margin-bottom: 5px;
}

section:not(.slider).charaSimilarArea ul {
  display: block;
  overflow: hidden;
  margin-bottom: 20px;
}

section:not(.slider).charaSimilarArea li {
  font-size: 14px;
  width: 172px;
  text-align: center;
  float: left;
}

section:not(.slider).charaSimilarArea li img {
  padding: 2px;
  border: 1px solid #dcdcdc;
  margin-bottom: 5px;
}

/* スライダー */
.slider {
  width: 840px;
}

.slider .sliderContainer {
  width: 100%;
  height: auto;
  overflow: hidden;
  visibility: hidden;
}

.bx-wrapper .bx-viewport {
  box-shadow: none;
  border: none;
  left: 0;
}

/* アニメ詳細ページ */
.animeDataArea h2.titleBar {
  font-size: 20px;
  color: #fff;
  position: relative;
  padding: 5px;
  background: #BE956A;
  border-left: none;
  border-bottom: none;
  margin-bottom: 40px;
  border-radius: 0;
  text-shadow: 2px 2px 1px black;
}

.animeDataArea h2.titleBar:before, .animeDataArea h2.titleBar:after {
  content: '';
  position: absolute;
  top: 100%;
  border-style: solid;
  border-color: transparent;
}

.animeDataArea h2.titleBar:before {
  left: 0;
  border-width: 0 20px 20px 0;
  border-right-color: #4F2702;
}

.animeDataArea h2.titleBar:after {
  right: 0;
  border-style: solid;
  border-width: 20px 20px 0 0;
  border-top-color: #4F2702;
}

.animeDataArea h2.titleBar span {
  display: block;
  border: 1px dashed #633B17;
  padding: 15px;
  border-radius: 4px;
}

.animeDataArea .mainBanner,
.animeDataArea .animeDescription {
  margin-bottom: 20px;
  line-height: 1.5;
}

.animeDatailInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.animeDatailInfo iframe {
  margin-right: 20px;
}

.animeDatailInfo dl {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.animeDatailInfo dl dt {
  margin-bottom: 5px;
  font-weight: bold;
}

.animeDatailInfo dl dd {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px dotted #666;
}

.animeDatailInfo dl dd:last-child {
  margin-bottom: 0;
}

/* キャラクター詳細ページ */
.charaDataArea h2.titleBar {
  font-size: 20px;
  color: #fff;
  position: relative;
  padding: 5px;
  background: #BE956A;
  border-left: none;
  border-bottom: none;
  margin-bottom: 40px;
  border-radius: 0;
  text-shadow: 2px 2px 1px black;
}

.charaDataArea h2.titleBar:before, .charaDataArea h2.titleBar:after {
  content: '';
  position: absolute;
  top: 100%;
  border-style: solid;
  border-color: transparent;
}

.charaDataArea h2.titleBar:before {
  left: 0;
  border-width: 0 20px 20px 0;
  border-right-color: #4F2702;
}

.charaDataArea h2.titleBar:after {
  right: 0;
  border-style: solid;
  border-width: 20px 20px 0 0;
  border-top-color: #4F2702;
}

.charaDataArea h2.titleBar span {
  display: block;
  border: 1px dashed #633B17;
  padding: 15px;
  border-radius: 4px;
}

.charaDataArea .charaDescription {
  margin-bottom: 30px;
}

.charaDataArea .voteArea {
  margin-bottom: 30px;
}

.charaDataArea table {
  width: 100%;
  margin-bottom: 30px;
}

.charaDataArea table th, .charaDataArea table td {
  width: 25%;
  border: 1px solid #ccc;
  padding: 10px;
}

.charaDataArea table th {
  background: #d1ffe8;
}

.charaDataArea table td {
  background: #ffffe0;
}

/* サイドバー
****************************************************/
/* 汎用 */
#sidebar {
  width: 280px;
  float: left;
}

#sidebar section {
  margin-bottom: 30px;
}

#sidebar h3 {
  font-weight: bold;
  border-left: 5px solid #ff8e8e;
  border-bottom: 1px solid #ff8e8e;
  padding: 0 0 3px 10px;
  margin-bottom: 20px;
}

/* 広告 */
.ad {
  width: 280px;
  height: 280px;
  margin-bottom: 20px;
}

/* 人気アニメTOP3 */
.rankingAnimeTop3 th img,
.rankingCharaTop3 th img {
  width: 80px;
  height: auto;
}

.rankingAnimeTop3 td,
.rankingCharaTop3 td {
  vertical-align: middle;
  font-size: 14px;
  padding-left: 5px;
}

.rankingAnimeTop3 tr {
  height: 90px;
}

.rankingCharaTop3 tr {
  height: 120px;
}

/* フッター
****************************************************/
#footer {
  padding: 10px 0;
  font-size: 10px;
  text-align: center;
}
