@charset "UTF-8";
/* ランキング */
@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);
/* 汎用
****************************************************/
body {
  font-family: "Hiragino Kaku Gothic ProN","メイリオ", sans-serif;
  position: relative;
  color: #333;
  box-sizing: border-box;
}

a {
  color: #333;
  text-decoration: none;
  display: inline-block;
}

a img {
  border-style: none;
}

#wrapper {
  width: 100%;
  background: #fed3dd;
}

.moreBtn {
  text-align: center;
}

.moreBtn button {
  cursor: pointer;
}

.linkBtn {
  text-align: center;
}

.linkBtn a {
  width: 450px;
  position: relative;
  display: inline-block;
  padding: 25px 0;
  background: -webkit-linear-gradient(#fe5f95, #ff3f7f);
  background: linear-gradient(#fe5f95, #ff3f7f);
  border: 1px solid #fe3276;
  border-radius: 4px;
  color: #fff;
  text-align: center;
}

.linkBtn a:after {
  position: absolute;
  top: 3px;
  right: 3px;
  bottom: 3px;
  left: 3px;
  content: '';
  border: 2px dashed #fff;
  border-radius: 4px;
}

/* ヘッダー
****************************************************/
#header {
  width: 100%;
  height: 80px;
  background: #fff;
  border-top: 3px solid #fc7dc4;
  box-shadow: 0px 4px 3px -3px rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
}

.headerContainer {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.headerContainer .headerID {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.headerContainer .headerID h1 {
  font-family: 'Noto Sans JP';
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
}

.headerContainer .headerID h1 a {
  color: #4f2702;
}

.headerContainer .headerID p {
  font-size: 12px;
  color: #cfcfcf;
}

.headerContainer .headerMenu {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: right;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.headerContainer .headerMenu ul {
  font-size: 0;
}

.headerContainer .headerMenu li {
  font-size: 16px;
  display: inline-block;
  border-left: 1px dotted #cfcfcf;
}

.headerContainer .headerMenu li:first-child {
  border-bottom: 3px solid #ff7f7f;
}

.headerContainer .headerMenu li:nth-child(2) {
  border-bottom: 3px solid #7f7fff;
}

.headerContainer .headerMenu li:nth-child(3) {
  border-bottom: 3px solid #bf7fff;
}

.headerContainer .headerMenu li:nth-child(4) {
  border-bottom: 3px solid #7fbfff;
}

.headerContainer .headerMenu li:last-child {
  border-right: 1px dotted #cfcfcf;
  border-bottom: 3px solid #ffbf7f;
}

.headerContainer .headerMenu li a {
  display: block;
  padding: 10px 20px;
}

/* 大コンテンツ
****************************************************/
#content {
  width: 1160px;
  margin: 80px auto 0;
  padding: 20px;
  background: #fff;
  overflow: hidden;
}

/* メインコンテンツ
****************************************************/
/* 汎用 */
#main {
  width: 860px;
  float: left;
  margin-right: 20px;
}

h2 {
  color: #411C00;
  font-size: 18px;
  font-weight: bold;
  position: relative;
  border: 2px solid #ba9b89;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 4px;
  background: -webkit-linear-gradient(#fff, #F4EDE6);
  background: linear-gradient(#fff, #F4EDE6);
}

h2:before {
  content: '';
  border-left: 5px solid #824921;
  margin-right: 10px;
}

.ranking h2 {
  margin-bottom: 40px;
}

.searchArea {
  width: 860px;
  height: 100px;
}

section:not(.slider) {
  margin-bottom: 30px;
  /* TOPページ */
  /* アニメ一覧ページ */
  /* キャラクター一覧ページ */
  /* アニメ詳細ページ */
  /* キャラクター詳細ページ */
}

section:not(.slider) .newAnimeList ul {
  display: block;
  overflow: hidden;
  margin-bottom: 20px;
}

section:not(.slider) .newAnimeList li {
  font-size: 14px;
  width: 286.66667px;
  text-align: center;
  float: left;
}

section:not(.slider) .newAnimeList li img {
  padding: 2px;
  border: 1px solid #dcdcdc;
  margin-bottom: 5px;
}

section:not(.slider) .newAnimeList li figcaption {
  width: 286.66667px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

section:not(.slider) .newCharaList ul, section:not(.slider).checkedChara ul, section:not(.slider).birthday ul {
  display: block;
  overflow: hidden;
  margin-bottom: 20px;
}

section:not(.slider) .newCharaList li, section:not(.slider).checkedChara li, section:not(.slider).birthday li {
  font-size: 14px;
  width: 172px;
  text-align: center;
  float: left;
}

section:not(.slider) .newCharaList li img, section:not(.slider).checkedChara li img, section:not(.slider).birthday li img {
  padding: 2px;
  border: 1px solid #dcdcdc;
  margin-bottom: 5px;
}

section:not(.slider) .newCharaList li figcaption, section:not(.slider).checkedChara li figcaption, section:not(.slider).birthday li figcaption {
  width: 172px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

section:not(.slider).animeListArea ul {
  display: block;
  overflow: hidden;
  margin-bottom: 20px;
}

section:not(.slider).animeListArea li {
  font-size: 14px;
  width: 215px;
  text-align: center;
  float: left;
}

section:not(.slider).animeListArea li img {
  padding: 2px;
  border: 1px solid #dcdcdc;
  margin-bottom: 5px;
}

section:not(.slider).animeListArea li figcaption {
  width: 215px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

section:not(.slider).animeListArea li {
  font-size: 12px;
  margin-bottom: 20px;
  white-space: nowrap;
}

section:not(.slider).animeListArea li img {
  width: 200px;
  height: auto;
}

section:not(.slider).charaListArea ul {
  display: block;
  overflow: hidden;
  margin-bottom: 20px;
}

section:not(.slider).charaListArea li {
  font-size: 14px;
  width: 172px;
  text-align: center;
  float: left;
}

section:not(.slider).charaListArea li img {
  padding: 2px;
  border: 1px solid #dcdcdc;
  margin-bottom: 5px;
}

section:not(.slider).charaListArea li figcaption {
  width: 172px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

section:not(.slider).charaListArea li {
  font-size: 12px;
  margin-bottom: 20px;
  white-space: nowrap;
}

section:not(.slider).animeCharaArea ul {
  display: block;
  overflow: hidden;
  margin-bottom: 20px;
}

section:not(.slider).animeCharaArea li {
  font-size: 14px;
  width: 172px;
  text-align: center;
  float: left;
}

section:not(.slider).animeCharaArea li img {
  padding: 2px;
  border: 1px solid #dcdcdc;
  margin-bottom: 5px;
}

section:not(.slider).animeCharaArea li figcaption {
  width: 172px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

section:not(.slider).animeCharaArea li {
  margin-bottom: 10px;
}

section:not(.slider).animeSimilarArea ul {
  display: block;
  overflow: hidden;
  margin-bottom: 20px;
}

section:not(.slider).animeSimilarArea li {
  font-size: 14px;
  width: 215px;
  text-align: center;
  float: left;
}

section:not(.slider).animeSimilarArea li img {
  padding: 2px;
  border: 1px solid #dcdcdc;
  margin-bottom: 5px;
}

section:not(.slider).animeSimilarArea li figcaption {
  width: 215px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

section:not(.slider).animeSimilarArea li {
  font-size: 12px;
  margin-bottom: 20px;
  white-space: nowrap;
}

section:not(.slider).animeSimilarArea li img {
  width: 200px;
  height: auto;
}

section:not(.slider).charaSimilarArea ul {
  display: block;
  overflow: hidden;
  margin-bottom: 20px;
}

section:not(.slider).charaSimilarArea li {
  font-size: 14px;
  width: 172px;
  text-align: center;
  float: left;
}

section:not(.slider).charaSimilarArea li img {
  padding: 2px;
  border: 1px solid #dcdcdc;
  margin-bottom: 5px;
}

section:not(.slider).charaSimilarArea li figcaption {
  width: 172px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

section:not(.slider).charaSimilarArea li {
  margin-bottom: 10px;
}

/* スライダー */
.slider {
  width: 840px;
}

.slider .sliderContainer {
  width: 100%;
  height: auto;
  overflow: hidden;
  visibility: hidden;
}

.bx-wrapper .bx-viewport {
  box-shadow: none;
  border: none;
  left: 0;
}

/* アニメ詳細ページ */
.animeDataArea h2.titleBar {
  font-size: 20px;
  color: #fff;
  position: relative;
  padding: 5px;
  background: #BE956A;
  border-left: none;
  border-bottom: none;
  margin-bottom: 40px;
  border-radius: 0;
  text-shadow: 2px 2px 1px black;
}

.animeDataArea h2.titleBar:before, .animeDataArea h2.titleBar:after {
  content: '';
  position: absolute;
  top: 100%;
  border-style: solid;
  border-color: transparent;
}

.animeDataArea h2.titleBar:before {
  left: 0;
  border-width: 0 20px 20px 0;
  border-right-color: #4F2702;
}

.animeDataArea h2.titleBar:after {
  right: 0;
  border-style: solid;
  border-width: 20px 20px 0 0;
  border-top-color: #4F2702;
}

.animeDataArea h2.titleBar span {
  display: block;
  border: 2px dashed #633B17;
  padding: 15px;
  border-radius: 4px;
}

.animeDataArea .mainBanner,
.animeDataArea .animeDescription {
  margin-bottom: 20px;
  line-height: 1.5;
}

.animeDatailInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.animeDatailInfo iframe {
  margin-right: 20px;
}

.animeDatailInfo dl {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.animeDatailInfo dl dt {
  color: #4f2702;
  margin-bottom: 5px;
  font-weight: bold;
}

.animeDatailInfo dl dd {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px dashed #4f2702;
}

.animeDatailInfo dl dd:last-child {
  margin-bottom: 0;
}

/* キャラクター詳細ページ */
.charaDataArea h2.titleBar {
  font-size: 20px;
  color: #fff;
  position: relative;
  padding: 5px;
  background: #BE956A;
  border-left: none;
  border-bottom: none;
  margin-bottom: 40px;
  border-radius: 0;
  text-shadow: 2px 2px 1px black;
}

.charaDataArea h2.titleBar:before, .charaDataArea h2.titleBar:after {
  content: '';
  position: absolute;
  top: 100%;
  border-style: solid;
  border-color: transparent;
}

.charaDataArea h2.titleBar:before {
  left: 0;
  border-width: 0 20px 20px 0;
  border-right-color: #4F2702;
}

.charaDataArea h2.titleBar:after {
  right: 0;
  border-style: solid;
  border-width: 20px 20px 0 0;
  border-top-color: #4F2702;
}

.charaDataArea h2.titleBar span {
  display: block;
  border: 2px dashed #633B17;
  padding: 15px;
  border-radius: 4px;
}

.charaDataArea .charaDescription {
  margin-bottom: 30px;
  line-height: 1.5;
}

.charaDataArea .charaVoteArea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}

.charaDataArea .charaVoteArea .charaThumb {
  width: 150px;
}

.charaDataArea .charaVoteArea .vote {
  width: 710px;
  margin-left: 40px;
  position: relative;
  background: #effff7;
  border: 4px solid #c2e1f5;
  border-radius: 6px;
  padding: 20px 20px 10px;
}

.charaDataArea .charaVoteArea .vote:after, .charaDataArea .charaVoteArea .vote:before {
  right: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.charaDataArea .charaVoteArea .vote:after {
  border-color: rgba(136, 183, 213, 0);
  border-right-color: #effff7;
  border-width: 20px;
  margin-top: -20px;
}

.charaDataArea .charaVoteArea .vote:before {
  border-color: rgba(194, 225, 245, 0);
  border-right-color: #c2e1f5;
  border-width: 26px;
  margin-top: -26px;
}

.charaDataArea .charaVoteArea .vote .voteMsg {
  margin-bottom: 20px;
  padding: 0 0 20px;
  text-align: center;
  border-bottom: 2px solid #c2e1f5;
}

.charaDataArea .charaVoteArea .vote div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.charaDataArea .charaVoteArea .vote div table {
  width: 66%;
}

.charaDataArea .charaVoteArea .vote div table th {
  color: #4f2702;
  font-weight: bold;
}

.charaDataArea .charaVoteArea .vote div table td {
  font-size: 36px;
  text-align: center;
  vertical-align: bottom;
  height: 70px;
}

.charaDataArea .charaVoteArea .vote div table td.voteBtn {
  background: orange;
  cursor: pointer;
}

.charaDataArea .charaVoteArea .vote div .voteBtn {
  width: 33%;
  text-align: center;
}

.charaDataArea .charaVoteArea .vote div .voteBtn span {
  color: #fff;
  background: orange;
  display: inline-block;
  padding: 35px 50px;
  border-radius: 4px;
  cursor: pointer;
}

.charaDataArea table.charaProfile {
  width: 100%;
  margin-bottom: 30px;
}

.charaDataArea table.charaProfile th, .charaDataArea table.charaProfile td {
  width: 25%;
  border: 1px solid #ccc;
  padding: 10px;
}

.charaDataArea table.charaProfile th {
  background: #d1ffe8;
}

.charaDataArea table.charaProfile td {
  background: #ffffe0;
}

/* ランキング */
.rankingAll li {
  width: 25%;
  float: left;
  text-align: center;
  margin-bottom: 30px;
  counter-increment: rank;
  position: relative;
}

.rankingAll li:before {
  content: counter(rank);
  position: absolute;
  color: #fff;
  background: #4f2702;
  font-size: 18px;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  line-height: 50px;
}

.rankingAll li img {
  padding: 2px;
  border: 1px solid #dcdcdc;
  margin-bottom: 5px;
}

.rankingAll li figcaption {
  white-space: nowrap;
}

.rankingAll li:before {
  top: -20px;
  left: 5px;
}

.rankingAll li:nth-child(1):before {
  background: #e6b422;
}

.rankingAll li:nth-child(2):before {
  background: #c0c0c0;
}

.rankingAll li:nth-child(3):before {
  background: #c47022;
}

.rankingAll li .rankPoint {
  position: absolute;
  color: #fff;
  background: #333;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 18px;
  bottom: 30px;
  right: 35px;
}

.rankingAll li:nth-child(1) {
  width: 33%;
  margin-bottom: 50px;
}

.rankingAll li:nth-child(1) a {
  width: 100%;
  background: #fffde6;
  padding: 40px 0 20px;
}

.rankingAll li:nth-child(1):before {
  top: 15px;
  left: 40px;
}

.rankingAll li:nth-child(1) .rankPoint {
  bottom: 50px;
  right: 70px;
}

.rankingAll li:nth-child(2) {
  width: 33%;
  margin-bottom: 50px;
}

.rankingAll li:nth-child(2) a {
  width: 100%;
  background: #fffde6;
  padding: 40px 0 20px;
}

.rankingAll li:nth-child(2):before {
  top: 15px;
  left: 40px;
}

.rankingAll li:nth-child(2) .rankPoint {
  bottom: 50px;
  right: 70px;
}

.rankingAll li:nth-child(3) {
  width: 33%;
  margin-bottom: 50px;
}

.rankingAll li:nth-child(3) a {
  width: 100%;
  background: #fffde6;
  padding: 40px 0 20px;
}

.rankingAll li:nth-child(3):before {
  top: 15px;
  left: 40px;
}

.rankingAll li:nth-child(3) .rankPoint {
  bottom: 50px;
  right: 70px;
}

/* サイドバー
****************************************************/
/* 汎用 */
#sidebar {
  width: 280px;
  float: left;
}

#sidebar section {
  margin-bottom: 30px;
}

#sidebar h3 {
  color: #411C00;
  font-weight: bold;
  position: relative;
  border: 2px solid #ff8e8e;
  padding: 10px;
  margin-bottom: 30px;
  border-radius: 4px;
  background: -webkit-linear-gradient(#fff, #F4EDE6);
  background: linear-gradient(#fff, #F4EDE6);
}

#sidebar h3:before {
  content: '';
  border-left: 5px solid #ff7f7f;
  margin-right: 10px;
}

/* 広告 */
.ad {
  width: 280px;
  height: 280px;
  margin-bottom: 20px;
}

/* ランキングTOP5 */
.rankingTop5 li {
  text-align: center;
  margin-bottom: 30px;
  counter-increment: rank;
  position: relative;
}

.rankingTop5 li:before {
  content: counter(rank);
  position: absolute;
  color: #fff;
  background: #4f2702;
  font-size: 18px;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  line-height: 50px;
}

.rankingTop5 li img {
  padding: 2px;
  border: 1px solid #dcdcdc;
  margin-bottom: 5px;
}

.rankingTop5 li figcaption {
  white-space: nowrap;
}

.rankingTop5 li:before {
  top: -10px;
  left: 40px;
}

.rankingTop5 li:nth-child(1):before {
  background: #e6b422;
}

.rankingTop5 li:nth-child(2):before {
  background: #c0c0c0;
}

.rankingTop5 li:nth-child(3):before {
  background: #c47022;
}

.rankingTop5 li .rankPoint {
  position: absolute;
  color: #fff;
  background: #333;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 18px;
  bottom: 30px;
  right: 67px;
}

/* フッター
****************************************************/
#footer {
  padding: 10px 0;
  font-size: 10px;
  text-align: center;
}
