@charset 'UTF-8';

// カラー
$color-all-bg: #fed3dd;
$color-font: #333;
$color-border: #cfcfcf;
$color-h2-border: #ba9b89;
$color-h3-border: #ff8e8e;


// サイズ
$size-content: 1200px;
$size-main: 860px;