@charset 'UTF-8';

// カラー
$color-all-bg: #fed3dd;
$color-font: #333;
$color-border: #cfcfcf;

$color-h2-title: #411C00;
$color-h2-border: #ba9b89;
$color-h2-border-l: #824921;

$color-h3-border: #ff8e8e;

$color-titlebar-bg: #BE956A;
$color-titlebar-down: #4F2702;
$color-titlebar-border: #633B17;

$color-imgborder: #dcdcdc;

// サイズ
$size-content: 1200px;
$size-main: 860px;