@charset 'UTF-8';

@import 'vars';
@import 'mixin';
@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);


/* 汎用
****************************************************/
body {
	font-family: "Hiragino Kaku Gothic ProN","メイリオ", sans-serif;
	position: relative;
	color: $color-font;
	box-sizing: border-box;
}

a {
	color: $color-font;
	text-decoration: none;
	display: inline-block;
	img {
		border-style: none;	
	}
}

#wrapper {
	width: 100%;
	background: $color-all-bg;
}

.moreBtn {
	text-align: center;
	button {
		cursor: pointer;
	}
}

.linkBtn {
	text-align: center;
	a {
		width: 450px;
		position: relative;
		display: inline-block;
		padding: 25px 0;
		background: linear-gradient(#fe5f95, #ff3f7f);
		border: 1px solid #fe3276;
		border-radius: 4px;
		color: #fff;
		text-align: center;
		&:after {
			position: absolute;
			top: 3px;
			right: 3px;
			bottom: 3px;
			left: 3px;
			content: '';
			border: 2px dashed #fff;
			border-radius: 4px;
		}
	}
}

/* ヘッダー
****************************************************/
#header {
	width: 100%;
	height: $size-header-height;
	background: #fff;
	border-top: 3px solid #fc7dc4;
	box-shadow: 0px 4px 3px -3px rgba(0,0,0,0.3);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10000; // スライダーの左右ボタンが9999のため
}

.headerContainer {
	width: $size-content;
	height: 100%;
	margin: 0 auto;
	display: flex;
	.headerID {
		flex: 1;
		align-self: center;
		h1 {
			font-family: 'Noto Sans JP';
			font-size: 28px;
			font-weight: bold;
			margin-bottom: 10px;
			a {
				color: $color-id;
			}
		}
		p {
			font-size: 12px;
			color: #cfcfcf;
		}
	}
	.headerMenu {
		flex: 1;
		text-align: right;
		align-self: flex-end;
		ul {
			font-size: 0;
		}
		li {
			font-size: 16px;
			display: inline-block;
			border-left: 1px dotted $color-border;
			&:first-child {
				border-bottom: 3px solid #ff7f7f;
			}
			&:nth-child(2) {
				border-bottom: 3px solid #7f7fff;
			}
			&:nth-child(3) {
				border-bottom: 3px solid #bf7fff;
			}
			&:nth-child(4) {
				border-bottom: 3px solid #7fbfff;
			}
			&:last-child {
				border-right: 1px dotted $color-border;
				border-bottom: 3px solid #ffbf7f;
			}
			a {
				display: block;
				padding: 10px 20px;
			}
		}
	}
}

/* 大コンテンツ
****************************************************/
#content {
	$contentPd: 20px;
	width: $size-content - $contentPd * 2; // 左右のpaddingの合計値を引く
	margin: $size-header-height auto 0;
	padding: $contentPd;
	background: #fff;
	overflow: hidden;
}

/* メインコンテンツ
****************************************************/
/* 汎用 */
#main {
	width: $size-main;
	float: left;
	margin-right: 20px;
}

h2 {
	@include h2title;
}

.searchArea {
	width: $size-main;
	height: 100px;
}

section:not(.slider) {
	margin-bottom: 30px;
	/* TOPページ */
	.newAnimeList {
		@include imgArrange(3);
	}
	.newCharaList,
	&.checkedChara,
	&.birthday {
		@include imgArrange(5);
	}
	/* アニメ一覧ページ */
	&.animeListArea {
		@include imgArrange(4);
		li {
			@include imgNameSsize;
			img {
				width: 200px;
				height: auto;
			}
		}
	}
	/* キャラクター一覧ページ */
	&.charaListArea {
		@include imgArrange(5);
		li {
			@include imgNameSsize;
		}
	}
	/* アニメ詳細ページ */ 
	&.animeCharaArea {
		@include imgArrange(5);
		li {
			margin-bottom: 10px;
		}
	}
	&.animeSimilarArea {
		@include imgArrange(4);
		li {
			@include imgNameSsize;
			img {
				width: 200px;
				height: auto;
			}
		}
	}
	/* キャラクター詳細ページ */
	&.charaSimilarArea {
		@include imgArrange(5);
		li {
			margin-bottom: 10px;
		}
	}
}

/* スライダー */
.slider {
	width: 840px;
	.sliderContainer {
		width: 100%;
		height: auto;
		overflow: hidden;
		visibility: hidden;
	}
}

.bx-wrapper .bx-viewport {
	box-shadow: none;
	border: none;
	left: 0;
}

/* アニメ詳細ページ */
.animeDataArea {
	h2 {
		&.titleBar {
			@include titleBar;
		}
	}
	.mainBanner,
	.animeDescription {
		margin-bottom: 20px;
		line-height: 1.5;
	}
}

.animeDatailInfo {
	display: flex;
	iframe {
		margin-right: 20px;
	}
	dl {
		flex: 1;
		dt {
			color: $color-id;
			margin-bottom: 5px;
			font-weight: bold;
		}
		dd {
			margin-bottom: 10px;
			padding-bottom: 10px;
			border-bottom: 1px dashed $color-id;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

/* キャラクター詳細ページ */
.charaDataArea {
	h2 {
		&.titleBar {
			@include titleBar;
		}
	}
	.charaDescription {
		margin-bottom: 30px;
		line-height: 1.5;
	}
	.charaVoteArea {
		display: flex;
		margin-bottom: 30px;
		.charaThumb {
			width: 150px;
		}
		.vote {
			width: $size-main - 150px;
			margin-left: 40px;
			position: relative;
			background: #effff7;
			border: 4px solid #c2e1f5;
			border-radius: 6px;
			padding: 20px 20px 10px;
			&:after, &:before {
				right: 100%;
				top: 50%;
				border: solid transparent;
				content: " ";
				height: 0;
				width: 0;
				position: absolute;
				pointer-events: none;
			}
			&:after {
				border-color: rgba(136, 183, 213, 0);
				border-right-color: #effff7;
				border-width: 20px;
				margin-top: -20px;
			}
			&:before {
				border-color: rgba(194, 225, 245, 0);
				border-right-color: #c2e1f5;
				border-width: 26px;
				margin-top: -26px;
			}
			.voteMsg {
				margin-bottom: 20px;
				padding: 0 0 20px;
				text-align: center;
				border-bottom: 2px solid #c2e1f5;
			}
			div {
				display: flex;
				align-items: center;
				table {
					width: 66%;
					th {
						color: $color-id;
						font-weight: bold;
					}
					td {
						font-size: 36px;
						text-align: center;
						vertical-align: bottom;
						height: 70px;
						&.voteBtn {
							background: orange;
							cursor: pointer;
						}
					}
				}
				.voteBtn {
					width: 33%;
					text-align: center;
					span {
						color: #fff;
						background: orange;
						display: inline-block;
						padding: 35px 50px;
						border-radius: 4px;
						cursor: pointer;
					}
				}
			}
		}
	}
	table.charaProfile {
		width: 100%;
		margin-bottom: 30px;
		th, td {
			width: 25%;
			border: 1px solid #ccc;
			padding: 10px;
		}
		th {
			background: #d1ffe8;
		}
		td {
			background: #ffffe0;
		}
	}
}

/* ランキング */
.rankingAll {
	li {
		width: 25%;
		float: left;
		@include rankingLi;
		&:before {
			top: -20px;
			left: 5px;
		}
		@include rankingTop3Color;
		.rankPoint {
		    @include rankPoint;
		    bottom: 30px;
			right: 35px;
		}
		@for $i from 1 through 3 {
			&:nth-child(#{$i}) {
				width: 33%;
				margin-bottom: 50px;
				a {
					width: 100%;
					background: #fffde6;
					padding: 40px 0 20px;
				}
				&:before {
					top: 15px;
					left: 40px;
				}
				.rankPoint {
					bottom: 50px;
					right: 70px;
				}
			}
		}
	}
}


/* サイドバー
****************************************************/
/* 汎用 */
#sidebar {
	width: 280px;
	float: left;
	section {
		margin-bottom: 30px;
	}
	h3 {
		@include h3title;
	}
}

/* 広告 */
.ad {
	width: 280px;
	height: 280px;
	margin-bottom: 20px;
}

/* ランキングTOP5 */
.rankingTop5 {
	li {
		@include rankingLi;
		&:before {
			top: -10px;
			left: 40px;
		}
		@include rankingTop3Color;
		.rankPoint {
		    @include rankPoint;
		    bottom: 30px;
			right: 67px;
		}
	}
}

/* フッター
****************************************************/
#footer {
	padding: 10px 0;
	font-size: 10px;
	text-align: center;
}