@charset 'UTF-8';

@import 'vars';

/* 汎用
****************************************************/
body {
	position: relative;
	color: $color-font;
	box-sizing: border-box;
}

a {
	color: $color-font;
	text-decoration: none;
	img {
		border-style: none;	
	}
}

#wrapper {
	width: 100%;
	background: $color-all-bg;
}

.moreBtn {
	text-align: center;
}

/* ヘッダー
****************************************************/
#header {
	width: 100%;
	height: 80px;
	background: #fff;
	border-top: 3px solid #fc7dc4;
	box-shadow: 0px 4px 3px -3px rgba(0,0,0,0.3);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10000; // スライダーの左右ボタンが9999のため
}

.headerContainer {
	width: $size-content;
	height: 100%;
	margin: 0 auto;
	display: flex;
	.headerID {
		flex: 1;
		align-self: center;
		h1 {
			font-size: 28px;
			font-weight: bold;
			margin-bottom: 5px;
		}
		p {
			font-size: 12px;
			color: #cfcfcf;
		}
	}
	.headerMenu {
		flex: 1;
		text-align: right;
		align-self: flex-end;
		ul {
			font-size: 0;
		}
		li {
			font-size: 16px;
			display: inline-block;
			//border-top: 5px solid $color-border;
			border-left: 1px dotted $color-border;
			&:last-child {
				border-right: 1px dotted $color-border;
			}
			a {
				display: block;
				padding: 10px 20px;
			}
		}
	}
}

/* 大コンテンツ
****************************************************/
#content {
	width: $size-content - 20*2; // 左右のpaddingの合計値を引く
	margin: 80px auto 0;
	padding: 20px;
	background: #fff;
	overflow: hidden;
}

/* メインコンテンツ
****************************************************/
/* 汎用 */
#main {
	width: 860px;
	float: left;
	margin-right: 20px;
	section:not(.slider) {
		margin-bottom: 30px;
		h2 {
			font-size: 18px;
			font-weight: bold;
			border-left: 5px solid $color-h2-border;
			border-bottom: 1px solid $color-h2-border;
			padding: 0 0 3px 10px;
			margin-bottom: 20px;
		}
		ul {
			display: flex;
			margin-bottom: 20px;
		}
		li {
			flex: 1;
			text-align: center;	
		}
	}
}

/* スライダー */
.slider {
	width: 840px;
	.sliderContainer {
		width: 100%;
		height: auto;
		overflow: hidden;
		visibility: hidden;
	}
}

.bx-wrapper .bx-viewport {
	box-shadow: none;
	border: none;
	left: 0;
}


/* サイドバー
****************************************************/
/* 汎用 */
#sidebar {
	width: 280px;
	float: left;
	section {
		margin-bottom: 30px;
	}
	h3 {
		font-weight: bold;
		border-left: 5px solid $color-h3-border;
		border-bottom: 1px solid $color-h3-border;
		padding: 0 0 3px 10px;
		margin-bottom: 20px;
	}
}

/* 広告 */
.ad {
	margin-bottom: 20px;
}

/* 人気アニメTOP3 */
.rankingAnimeTop3,
.rankingCharaTop3 { // ここは画像サイズがそれぞれ違うはずなので後で変える
	th {
		img {
			width: 80px;
			height: auto;
		}
	}
	td {
		vertical-align: middle;
		font-size: 14px;
		padding-left: 5px;
	}
}

.rankingAnimeTop3 {
	tr {
		height: 90px;
	}
}

.rankingCharaTop3 {
	tr {
		height: 120px;
	}
}

/* フッター
****************************************************/
#footer {
	padding: 10px 0;
	font-size: 12px;
	text-align: center;
}