@charset 'UTF-8';

@import 'vars';
@import 'mixin';
@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);


/* 汎用
****************************************************/
body {
	font-family: "Hiragino Kaku Gothic ProN","メイリオ", sans-serif;
	position: relative;
	color: $color-font;
	box-sizing: border-box;
}

a {
	color: $color-font;
	text-decoration: none;
	display: inline-block;
	img {
		border-style: none;	
	}
}

#wrapper {
	width: 100%;
	background: $color-all-bg;
}

.moreBtn {
	text-align: center;
	button {
		cursor: pointer;
	}
}

/* ヘッダー
****************************************************/
#header {
	width: 100%;
	height: 100px;
	background: #fff;
	border-top: 3px solid #fc7dc4;
	box-shadow: 0px 4px 3px -3px rgba(0,0,0,0.3);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10000; // スライダーの左右ボタンが9999のため
}

.headerContainer {
	width: $size-content;
	height: 100%;
	margin: 0 auto;
	display: flex;
	.headerID {
		flex: 1;
		align-self: center;
		h1 {
			color: #4f2702;
			font-family: 'Noto Sans JP';
			font-size: 28px;
			font-weight: bold;
			margin-bottom: 10px;
		}
		p {
			font-size: 12px;
			color: #cfcfcf;
		}
	}
	.headerMenu {
		flex: 1;
		text-align: right;
		align-self: flex-end;
		ul {
			font-size: 0;
		}
		li {
			font-size: 16px;
			display: inline-block;
			border-left: 1px dotted $color-border;
			&:first-child {
				border-bottom: 3px solid #ff7f7f;
			}
			&:nth-child(2) {
				border-bottom: 3px solid #7f7fff;
			}
			&:nth-child(3) {
				border-bottom: 3px solid #bf7fff;
			}
			&:nth-child(4) {
				border-bottom: 3px solid #7fbfff;
			}
			&:last-child {
				border-right: 1px dotted $color-border;
				border-bottom: 3px solid #ffbf7f;
			}
			a {
				display: block;
				padding: 10px 20px;
			}
		}
	}
}

/* 大コンテンツ
****************************************************/
#content {
	$contentPd: 20px;
	width: $size-content - $contentPd * 2; // 左右のpaddingの合計値を引く
	margin: 100px auto 0;
	padding: $contentPd;
	background: #fff;
	overflow: hidden;
}

/* メインコンテンツ
****************************************************/
/* 汎用 */
#main {
	width: $size-main;
	float: left;
	margin-right: 20px;
}

h2 {
	@include h2title;
}

.searchArea {
	width: $size-main;
	height: 100px;
}

section:not(.slider) {
	margin-bottom: 30px;
	ul {
		display: flex;
		margin-bottom: 20px;
	}
	li {
		flex: 1;
		text-align: center;
		font-size: 14px;
		img {
			margin-bottom: 5px;
			@include imgBorder;
		}
	}
	&.animeListArea {
		@include imgArrange(4);
		li {
			font-size: 12px;
			margin-bottom: 20px;
			img {
				width: 200px;
				height: auto;
				@include imgBorder;
			}
		}
	}
	&.animeCharaArea {
		@include imgArrange(5);
	}
	&.animeSimilarArea {
		@include imgArrange(3);
	}
}

/* スライダー */
.slider {
	width: 840px;
	.sliderContainer {
		width: 100%;
		height: auto;
		overflow: hidden;
		visibility: hidden;
	}
}

.bx-wrapper .bx-viewport {
	box-shadow: none;
	border: none;
	left: 0;
}

/* アニメ詳細ページ */
.animeDataArea {
	h2 {
		&.titleBar {
			@include titleBar;
		}
	}
	.mainBanner,
	.animeDescription {
		margin-bottom: 20px;
		line-height: 1.5;
	}
}

.animeDatailInfo {
	display: flex;
	iframe {
		margin-right: 20px;
	}
	dl {
		flex: 1;
		dt {
			margin-bottom: 5px;
			font-weight: bold;
		}
		dd {
			margin-bottom: 10px;
			padding-bottom: 10px;
			border-bottom: 1px dotted #666;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

/* サイドバー
****************************************************/
/* 汎用 */
#sidebar {
	width: 280px;
	float: left;
	section {
		margin-bottom: 30px;
	}
	h3 {
		font-weight: bold;
		border-left: 5px solid $color-h3-border;
		border-bottom: 1px solid $color-h3-border;
		padding: 0 0 3px 10px;
		margin-bottom: 20px;
	}
}

/* 広告 */
.ad {
	width: 280px;
	height: 280px;
	margin-bottom: 20px;
}

/* 人気アニメTOP3 */
.rankingAnimeTop3,
.rankingCharaTop3 { // ここは画像サイズがそれぞれ違うはずなので後で変える
	th {
		img {
			width: 80px;
			height: auto;
		}
	}
	td {
		vertical-align: middle;
		font-size: 14px;
		padding-left: 5px;
	}
}

.rankingAnimeTop3 {
	tr {
		height: 90px;
	}
}

.rankingCharaTop3 {
	tr {
		height: 120px;
	}
}

/* フッター
****************************************************/
#footer {
	padding: 10px 0;
	font-size: 10px;
	text-align: center;
}